html, body, ul, li {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

ul, p {
	margin: 0 0 5px 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 90%;
}

.container {
	margin: 10px auto;
	width: 95%;
}

#sidebar {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

#content {
	width: 60%;
	display: inline-block;
}

/* typo */

h1 {
	font-size: 140%;
	font-weight: bold;
	margin: 10px 0 6px 0;
}

h2 {
	font-size: 120%;
	margin: 3px 0;
}

h3 {
	font-size: 110%;
	margin: 5px 0 2px 0;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #2980b9;
}

/* fin typo */


/* media queries */
@media screen and (min-width: 1050px) {
	.container {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
}